/* 
 * Font declaration
 */


/* Raleway */


@font-face {
	font-family: 'Raleway Extra Light Italic';
	src: url('../fonts/Raleway-ExtraLightItalic.eot');
	src: url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
		 url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
		 url('../fonts/Raleway-ExtraLightItalic.ttf')  format('truetype'),
		 url('../fonts/Raleway-ExtraLightItalic.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Regular';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-Regular.woff2') format('woff2'),
		 url('../fonts/Raleway-Regular.woff') format('woff'),
		 url('../fonts/Raleway-Regular.ttf')  format('truetype'),
		 url('../fonts/Raleway-Regular.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Italic';
	src: url('../fonts/Raleway-Italic.eot');
	src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-Italic.woff2') format('woff2'),
		 url('../fonts/Raleway-Italic.woff') format('woff'),
		 url('../fonts/Raleway-Italic.ttf')  format('truetype'),
		 url('../fonts/Raleway-Italic.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway SemiBold';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		 url('../fonts/Raleway-SemiBold.woff') format('woff'),
		 url('../fonts/Raleway-SemiBold.ttf')  format('truetype'),
		 url('../fonts/Raleway-SemiBold.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway SemiBold Italic';
	src: url('../fonts/Raleway-SemiBoldItalic.eot');
	src: url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
		 url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
		 url('../fonts/Raleway-SemiBoldItalic.ttf')  format('truetype'),
		 url('../fonts/Raleway-SemiBoldItalic.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Bold';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-Bold.woff2') format('woff2'),
		 url('../fonts/Raleway-Bold.woff') format('woff'),
		 url('../fonts/Raleway-Bold.ttf')  format('truetype'),
		 url('../fonts/Raleway-Bold.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway Black';
	src: url('../fonts/Raleway-Black.eot');
	src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway-Black.woff2') format('woff2'),
		 url('../fonts/Raleway-Black.woff') format('woff'),
		 url('../fonts/Raleway-Black.ttf')  format('truetype'),
		 url('../fonts/Raleway-Black.svg#VillageflexBoldWebfont') format('svg');
	font-weight: normal;
	font-style: normal;
}